In [4]:
import pandas as pd

In [5]:
listings_df = pd.read_csv(r"C:\Users\Gordon Li\Desktop\AirPrice\AirPrice\data\listings.csv")
listings_df.shape

(7125, 79)

In [26]:
listings_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,177754,https://www.airbnb.com/rooms/177754,20250531151800,2025-05-31,city scrape,"Coolum Ocean Views, 6 guests at no extra cost!",Accommodates up to 7 guests! Beautiful tropica...,NaN,https://a0.muscache.com/pictures/f53ed4a6-b175...,850132,...,4.81,4.87,4.67,NaN,f,2,2,0,0,0.33
1,300526,https://www.airbnb.com/rooms/300526,20250531151800,2025-05-31,city scrape,Tiny Farm House on The Hill,Welcome to the Tiny Farm House on The Hill. En...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,1547968,...,4.96,4.90,4.59,NaN,f,1,1,0,0,3.37
2,368309,https://www.airbnb.com/rooms/368309,20250531151800,2025-05-31,city scrape,"Magical Malindi, Montville. QLD",NaN,Montville has stunning views of the Sunshine C...,https://a0.muscache.com/pictures/miso/Hosting-...,603365,...,4.98,4.97,4.86,NaN,f,1,1,0,0,2.77
3,437524,https://www.airbnb.com/rooms/437524,20250531151800,2025-05-31,city scrape,"Queen Bedroom in shared house - walk, swim, surf",Queen sized bedroom in open plan well ventilat...,My beach house/bungalow is in a quiet suburban...,https://a0.muscache.com/pictures/19494015/09e3...,2173713,...,4.93,4.79,4.73,NaN,t,3,1,2,0,3.48
4,664330,https://www.airbnb.com/rooms/664330,20250531151800,2025-05-31,city scrape,Bewell Eco Cottage - Sunshine Ridge Cooroy,Set on a private ridge close to Cooroy CBD. Yo...,Our neighborhood is quiet and tranquil. As we...,https://a0.muscache.com/pictures/c0bf6ac3-2d43...,3355245,...,4.99,4.96,4.86,NaN,t,1,1,0,0,1.10

In [27]:
others_list = [
    "id", "listing_url"
]

In [25]:
listings_df["picture_url"]

0       https://a0.muscache.com/pictures/f53ed4a6-b175...
1       https://a0.muscache.com/pictures/miso/Hosting-...
2       https://a0.muscache.com/pictures/miso/Hosting-...
3       https://a0.muscache.com/pictures/19494015/09e3...
4       https://a0.muscache.com/pictures/c0bf6ac3-2d43...
                              ...
7120    https://a0.muscache.com/pictures/miso/Hosting-...
7121    https://a0.muscache.com/pictures/miso/Hosting-...
7122    https://a0.muscache.com/pictures/miso/Hosting-...
7123    https://a0.muscache.com/pictures/miso/Hosting-...
7124    https://a0.muscache.com/pictures/miso/Hosting-...
Name: picture_url, Length: 7125, dtype: object

In [23]:
listings_df["source"].value_counts()

source
city scrape        6398
previous scrape     727
Name: count, dtype: int64

In [7]:
listings_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [10]:
import re

In [19]:
host_columns, reviews_columns = [], [] 
for feature in listings_df.columns:
    if re.search("^host_.*", feature): 
        host_columns.append(feature)
    elif re.search("^review.*", feature):
        print(feature)
        reviews_columns.append(feature)
print(reviews_columns)

review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
reviews_per_month
['review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'reviews_per_month']

In [20]:
reviews_listings = listings_df.loc[:, reviews_columns]
reviews_listings

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,4.76,4.74,4.89,4.81,4.81,4.87,4.67,0.33
1,4.84,4.86,4.65,4.92,4.96,4.90,4.59,3.37
2,4.96,4.97,4.92,4.99,4.98,4.97,4.86,2.77
3,4.68,4.74,4.59,4.89,4.93,4.79,4.73,3.48
4,4.93,4.94,4.85,4.97,4.99,4.96,4.86,1.10
...,...,...,...,...,...,...,...,...
7120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
host_delete_columns = [
    "id", "url", "name", "location", "about", "thumbnail_url", "picture_url", 
]
host_final_delete_columns = [f"host_{feature}" for feature in host_delete_columns]
print(host_final_delete_columns)

['host_id', 'host_url', 'host_name', 'host_location', 'host_about', 'host_thumbnail_url', 'host_picture_url']

In [ ]:
listings_df.iloc[:, 103:20]

,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url
0,https://www.airbnb.com/users/show/850132,Maureen,2011-07-21,"Coolum Beach, Australia",We have travelled all over the world and lived...,within a day,100%,70%,t,https://a0.muscache.com/im/pictures/user/User/...
1,https://www.airbnb.com/users/show/1547968,Ben,2011-12-29,"Peachester, Australia",I moved to iconic Mango Hill Farm in 2017. Sin...,within a day,100%,95%,t,https://a0.muscache.com/im/pictures/user/30b2d...
2,https://www.airbnb.com/users/show/603365,Tony & Patty,2011-05-19,"Montville, Australia",We are both semi-retired and live in a beautif...,within a few hours,100%,94%,t,https://a0.muscache.com/im/users/603365/profil...
3,https://www.airbnb.com/users/show/2173713,Lorelle,2012-04-19,"Buddina, Australia",After hosting many international guests in pre...,within an hour,100%,99%,f,https://a0.muscache.com/im/pictures/user/d9e2a...
4,https://www.airbnb.com/users/show/3355245,Anne Therese,2012-08-23,"Cooroy, Australia",We are peace-loving people and happy-natured. ...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/User/...
...,...,...,...,...,...,...,...,...,...,...
7120,https://www.airbnb.com/users/show/154273143,Rebekah,2017-10-12,"Warragul, Australia",NaN,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/User/...
7121,https://www.airbnb.com/users/show/342848966,Noosa Blue,2020-03-30,"Noosa Heads, Australia",NaN,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/ca582...
7122,https://www.airbnb.com/users/show/327130252,Melanie,2020-01-13,"Sunshine Coast, Australia",Luxury Coastal Destinations is a local and exp...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/User/...
7123,https://www.airbnb.com/users/show/444837087,Alexandra,2022-02-13,"Caloundra, Australia",NaN,within an hour,100%,97%,t,https://a0.muscache.com/im/pictures/user/c20f2...
7124,https://www.airbnb.com/users/show/154273143,Rebekah,2017-10-12,"Warragul, Australia",NaN,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/User/...